<style>
.felt {
 width: 300px;
 height: 300px;
 background-image: url('../img/felt.jpg');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.card {
 width: 300px;
 height: 300px;
 background-image: url('../img/card.png');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.kingspades {
 width: 300px;
 height: 300px;
 background-image: url('../img/ kingspades.png');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.queenhearts {
 width: 300px;
 height: 300px;
 background-image: url('../ queenhearts.png,');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.jackclubs {
 width: 300px;
 height: 300px;
 background-image: url('../img/ jackclubs.png');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.tendiamonds {
 width: 300px;
 height: 300px;
 background-image: url('../img/ tendiamonds.png');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}
.gradient {
 background-image: url('../img/gradient.jpg');
 background-repeat: repeat-x;
 background-color: gray;
}
</style>
